$site-bg: #ffffff;
$primary-color: #17314c;
$muted-priamry-color: #646c90;

$font-family: 'Source Sans Pro', sans-serif;
$light: 300;
$regular: 500;
$semi-bold: 600;
$headline-font: $semi-bold 3rem $font-family;
$body-font: $regular 1.5rem $font-family;

$widescreen-breakpoint: 1440px;
$tablet-breakpoint: 1024px;
$mobile-breakpoint: 640px;

:root {
  --body-margin: 1rem;
  --sidebar-padding: 4.5rem;
  --sidebar-width: 16rem;
}
