@media all and (min-width: $tablet-breakpoint) {
  #root > .header,
  #root > footer {
    display: none;
  }

  #root {
    position: fixed;
    flex-direction: row;
    height: calc(100vh - var(--body-margin));
  }

  .copyright {
    width: calc(var(--sidebar-width) + 2 * var(--sidebar-padding));
  }
}

@media all and (max-width: $tablet-breakpoint - 1px) {
  #root > #sidebar {
    display: none;
  }

  #root {
    flex-direction: column;
    height: auto;

    > .header,
    > main {
      padding: 1.5rem 2.5rem;
    }
  }
}

@media (max-width: $mobile-breakpoint - 1px) {
  #root > .header,
  #root > main {
    padding: 1.5rem;
  }
}
