@media (min-width: $tablet-breakpoint) {
  #root > header,
  #root > footer {
    display: none;
  }

  #root {
    position: fixed;
    flex-direction: row;
    height: calc(100vh - var(--body-margin));
  }
}

@media (max-width: $tablet-breakpoint - 1px) {
  #root > #sidebar {
    display: none;
  }

  #root > header,
  #root > main {
    padding: 1.5rem 2.5rem;
  }

  #root > footer {
    max-width: 16rem;
    align-self: center;
    width: 100%;
  }

  #root {
    flex-direction: column;
    height: auto;
  }
}

@media (max-width: $mobile-breakpoint - 1px) {
  #root > header,
  #root > main {
    padding: 1.5rem;
  }
}
