@import "variables";

#sidebar {
  --total-width: calc(var(--sidebar-width) + 2 * var(--sidebar-padding));

  flex: 1;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;

  > #sidebar-content {
    flex: 1;

    width: var(--sidebar-width);
    padding: 1rem var(--sidebar-padding) 0;
    border-right: 1px solid $primary-color;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

.social-media {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 1.5rem;
  line-height: 0;

  svg {
    height: 2rem;
    width: auto;
    fill: $primary-color;
  }
}

.copyright {
  text-align: center;
  padding-bottom: 1rem;
}

footer {
  max-width: var(--sidebar-width);
  align-self: center;
  width: 100%;
}
